# ============================================================
# requirements.txt
# DTSC6007001 – Deep Learning Mid Exam
# NIM: 2802421381
# Compatible: Python 3.11 | Streamlit Cloud
# ============================================================

# Deep Learning Framework
# TF 2.16 = versi stabil tertinggi yang support Python 3.11
tensorflow==2.16.1

# Data Manipulation
numpy==1.26.4
pandas==2.2.2
pyarrow==15.0.2

# Machine Learning Utilities
scikit-learn==1.4.2

# Visualization
matplotlib==3.8.4
seaborn==0.13.2

# Image Processing
Pillow==10.3.0

# Built-in Python (tidak perlu install)
# os, glob, shutil, random, warnings
